{% extends 'blog/base_blog.html' %}

{% load staticfiles %}
{% load mptt_tags %} {% load staticfiles %}
{% load get_client from widgets_client %}
{% load get_testimonial from widgets_client %}
{% load get_feature_pages from widgets_page %}
{% load get_service from widgets_page%}
{% load get_posts_by_category from blog_tags %}

{% block title %}{{ blog_categ.title }} Blog | Job Kurakani{% endblock title %}
{% block meta_description %}List of {{ blog_categ.title }} articles.{% endblock meta_description %}

{% block extra_meta %}
    <meta property='og:title' content='Career Blogs by merojob | Blog Category - {{ blog_categ }}  | A Complete Guide to Your Career | Job Kurakani'/>
    <meta property='og:image' content="{% static '/images/career/jobkurakani/jk2-logo.png' %}"/>
    <meta property='og:description' content='Find useful guidelines for job search, job interviews, career development, human resource management, etc. at Job Kurakani by merojob.com'/>
    <meta property='og:url' content='https://merojob.com/jobkurakani/'/>
    <meta property="fb:pages" content="98469913679"/>
{% endblock extra_meta %}

{% block content %}
    {% include 'blog/top_menu.html' %}
    {% include 'blog/blog_header.html' %}
    <section class="blog-section">
        <div class="container my-3">
            <div id="blog-categ" class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-block p-0">
                            <ul class="breadcrumb m-0 nav-form">
                                <li class="breadcrumb-item"><a href="{% url 'blog:index' %}">Home</a></li>
                                <li class="breadcrumb-item active">{{ blog_categ.title }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="well card-header" id="blog-title">
                            <h5><strong>{{ blog_categ.title}}</strong> ( {{ blog_categ.get_post_count }} posts found )</h5>
                        </div>
                    </div>
                    {% for post in object_list %}
                        <div class="card well {% if not forloop.first %}my-3{% else %}mt-3{% endif %}" itemscope itemtype="http://schema.org/BlogPosting">
                            <meta itemprop="name" content="{{ post.title }}"/>
                            <meta itemprop="datePublished" content="{{ post.created_at }}">
                            <meta itemprop="author" content="merojob">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-3" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                                        <a href="{% url 'blog:post_detail' post.slug %}#blog-header">
                                            <figure>
                                                <img class="border-1 p-1 img-responsive img-thumbnail img-fluid"
                                                     src="{{ post.header_img.url }}"
                                                     alt="{{ post.title }}" itemprop="url"/>
                                            </figure>
                                        </a>
                                        <meta itemprop="width" content="610">
                                        <meta itemprop="height" content="300">
                                    </div>
                                    <div class="col-md-9">
                                        <h2 class="h6">
                                            <a href="{% url 'blog:post_detail' post.slug %}#blog-header" itemprop="headline">
                                                {{ post.title }}
                                            </a>
                                        </h2>
                                        <p class="text-muted mb-1" itemprop="description">
                                            {{ post.excerpt|safe|truncatechars:"200" }}
                                            <a href="{% url 'blog:post_detail' post.slug %}#blog-header" class="">
                                                Read more
                                            </a>
                                        </p>
                                        <div class="float-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer font-sm">
                                <div class="dropdown dropdown-arrow d-inline">
                                    <a href="" class="{% if disabled %} disabled {% endif %}" data-toggle="dropdown">
                                        <span class="icon-share mr-1"></span>Share
                                    </a>
                                    {% with post_link=request.get_host|add:post.get_absolute_url %}
                                        <div class="dropdown-menu dropdown-menu-left" data-post.title='{{ post.title }}' data-post_link='{{ post_link }}'>
                                            <div class="row ml-2">
                                                <div class="col-md-2 text-center">
                                                    <a class="fb-xfbml-parse-ignore social-share" href="{{ social_share.facebook }}">
                                                        <span class="icon-facebook"></span>
                                                    </a>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                    <a class="social-share" href="{{ social_share.twitter }}">
                                                        <span class="icon-twitter"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endwith %}
                                </div>
                                <div class="float-right text-muted">
                                    <span class="icon-time"></span> Posted at: {{ post.created_at|timesince }} ago |
                                    <span class="icon-preview"></span> Total Views: {{ post.count }}
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="card mt-3">
                            <div class="card-block">
                                <div class="alert alert-info">
                                    <span class="icon-circle-info"></span> No posts found for
                                    <strong>{{ blog_categ }}</strong>.
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="ajax-paginator text-center" data-page-container="#search_job"></div>
                </div>
                <!-- Sidebar Content -->
                <div class="col-md-4 px-1">
                    {% include 'blog/sidebar_content.html' %}
                </div>
                <!-- / Sidebar Content -->
            </div>
        </div>
    </section>
{% endblock content %}
